PORT=3000

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=test

# MongoDB
MONGO_URI=mongodb://localhost:27017/test

# PostgreSQL
PG_USER=postgres
PG_HOST=localhost
PG_PASSWORD=password
PG_PORT=5432

# JWT
JWT_SECRET=your_jwt_secret_key_here
